<header>
    <h1> Order </h1>
</header>
<div class="order">
    <form>
        <div class="order-header"> <h2> Your order: </h2> </div>
        <div class="positions">
            <p> Buckwheat (portions): {{buckwheat}}</p>
            <p> Rice (portions): {{rice}} </p>
            <p> Compote (glasses): {{compote}} </p>
            <p> Cyber Cutlet (units): {{cyberCutlet}} </p>
            <div class="price"> <p>Total price: <input type="text" name="price" value="Waiting for Price" readonly> </p> </div>
        </div>
        <div class="button-link"> <input type="submit" value="Refresh" (click)="checkCalculated()"> </div>
    </form>
</div>