body {
    background-color: bisque;
}
header {
    margin-left: 20%;
    height: 140px;
    width: 60%;
    text-align: center;
    margin-top: 5%;
}
h1 {
    font-size: 600%;
}
.order{
    width: 20%;
    height: 205px;
    margin-left: 40%;
    background-color: rgb(255, 249, 242);
    border-radius: 10px;
    border: 2px solid black;
}
.order-header{
    width: 100%;
    height: 20%;
}
.order-header h2{
    padding-left: 2%;
    font-family: Century Gothic;
    font-size: 30px;
}
.positions{
    width: 100%;
    height: 80%;
}
.positions p{
    padding-left: 2%;
    width: 98%;
    height: 20%;
    font-family: Century Gothic;
    font-size: 17px;
}
.positions input{
    font-size:30px;
    font-family: Century Gothic;
    background-color: bisque;
    border: none;
    outline: none;
}
.price{
    width: 100%;
    height: 20%;
    padding-left: 1%;
}
.price input{
    font-family: Century Gothic;
    font-size: 20px;
    height: 40%;
    width: 60%;
    padding: 0;
    background-color: rgb(255, 249, 242);
    border: none;
    outline: none;
}
.price p{
    margin-left: -1%;
    font-family: Century Gothic;
    font-size: 20px;
}
.button-link{
    margin-top: 3%;
    margin-left: 12%;
    width: 100%;
    height: 15%;
}
.button-link input{
    margin-left: 69%;
    font-size:30px;
    font-family: Century Gothic;
    color: black;
    text-decoration: none;
    background-color: bisque;
    border: none;
    outline: none;
}
.button-link input:hover{
    color: rgb(128, 103, 72);
}